<div class="container song-tile-wrapper">
  <div class="row">
    <div class="col-sm">
      <img src="{{song.thumbnailUrl}}" alt="alternatetext">
    </div>
    <div class="col-sm">
      <label>Song:</label>
      <div class="form-label">{{song.songTitle}}</div>
      <label>Singer:</label>
      <div class="form-label">{{song.singer}}</div>
      <label>Album:</label>
      <div class="form-label">{{song.albumTitle}}</div>
    </div>
    <div class="col-sm">
      <label class="form-label">Play Time:</label>
      <div>{{song.playTime}}</div>
    </div>
  </div>
</div>
