/* Interface Gray */
$ui-white:  #FFFFFF;
$ui-gray10: #F9F9F9;
$ui-gray20: #F3F3F3;
$ui-gray21: #f2f2f2;
$ui-gray30: #E7E7E7;
$ui-gray40: #D5D5D5;
$ui-gray60: #939393;
$ui-gray70: #707070;
$ui-gray80: #4A4A4A;
$ui-gray90: #333333;


// Other colors

$ui-redSky: #FEF5E7;
$ui-lightPurple: #D6EAF8;
